<form (ngSubmit) = "onSumbit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input type="number" id="initial-investment" name="enteredInitialInvestment" [(ngModel)]="enteredInitialInvestment">
        </p>
        <p>
            <label for="annual-investment">Annual Investment</label>
            <input type="number" id="annual-investment" name="enteredAnnualInvestment" [(ngModel)]="enteredAnnualInvestment">
        </p>
        <p>
            <label for="expected-return">Expected Return</label>
            <input name="enteredExpectedReturn" type="number" id="expected-return" [(ngModel)]="enteredExpectedReturn">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input type="number" id="duration" name="enteredDuration" [(ngModel)]="enteredDuration">
        </p>
    </div>
    <p>
        <button>Calculate</button>
    </p>
</form>
